<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanara.flower.mapper.CharacterMapper">
    <select id="selectAll" resultType="com.wanara.flower.model.Character" >
        select * from `character`
    </select>
</mapper>